.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: white;
}

.message {
  max-width: 60%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.seller {
  background-color: #e0e0e0;
  color: #000;
  border-bottom-left-radius: 0;
}

.buyer {
  background-color: #4caf50;
  color: #fff;
  border-bottom-right-radius: 0;
  margin-left: auto;
}
